
h1{
    color:red;
    font-family:sketchetik;
    font-size:5em;
}
div{
    font-family:sans-serif;
}
ul{
    list-style:none;
    font-family:sans-serif;
}
li {
    border:1px solid magenta;
    width:200px;
    cursor:pointer;
    text-align:center;
    margin-bottom:10px;
    background-color:yellow;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

li:hover{
    border:1px solid yellow;
    background-color:magenta;
    color:white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#score {
    padding:30px;
    background-color:teal;
    float:right;
    width:250px;
    border:3px solid orange;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color:white;
    font-size:7em;
    text-align:right;
}

#countdown{
    position:fixed;
    top:30px;
    right:30px;
    padding:20px;
    width:50px;
    height:50px;
    font-size:3em;
    text-align:right;
    border-radius: 20px;
    border:3px solid black;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.quiz{
    width:750px;
    margin: 0 auto;
}